<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.albergue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_pets1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_pets1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Albergue">
        <activity android:name=".Admin.DonacionesAdmin" />
        <activity
            android:name=".Admin.RescatadoEditar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.RescatadoDetalleUsuario"
            android:screenOrientation="portrait" />
        <activity android:name=".Ubicacion.VerUbicacion" />
        <activity
            android:name=".RescatadoDetalle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.DonacionesUsers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.MainUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminPerrosGatos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.RegistroAnimales"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.PrincipalAdminActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RegistroActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>